body {
  font-family:Arial, Helvetica, sans-serif;
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: rgb(217, 69, 69);
  color: aliceblue;
  border-radius: 8px;
  border-color: rgb(217, 69, 69);
  width: 250px;
  height: 50px;
  font-size: 18px;
}

.custom-popover {
  display: none;
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  z-index: 1000;
  max-width: 250px;
}

.custom-popover.active {
  display: block;
}

.popover-content {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
}

h3 {
  background-color: rgb(240, 238, 238);
  height: 40px;
  margin: 0;
  padding: 0 10px;
  line-height: 40px;
  font-weight: 100;
}

p {
  padding: 0 10px;
}

.popover-arrow {
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  background: white;
  border-right: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
  transform: rotate(45deg);
}